@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');

.header
{
	font-family: 'Quicksand';
	background-color:#fff;
	color:#05a124;
	padding:10px;
	height: 20vh;
}
.guess
{
	text-align:center;
	font-family: 'Quicksand';
	padding:100px;
	background:#fff;
}
a
{
	padding:40px;
	font-family: 'Segoe UI';
	text-align:center;
	color:#1abc9c;

}
.logo
{
	height:200%;
	width:30%;
	padding:40px;
	
}
img{
	
	max-height:100vh;
	display: block; /* remove extra space below image */
}

