@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');

.header
{
	font-family: 'Quicksand';
	background-color:#fff;
	color:#000;
	padding:10px;
	height: 20vh;
}


.logo
{
	height:200%;
	width:30%;
	padding:40px;
	
}
img{
	
	max-height:100vh;
	display: block; /* remove extra space below image */
}
#dev
{
	display:block;
	text-decoration:none;
	font-family:'Quicksand';
	color:#000;
	border:2px solid #000;
	border-radius:20px;
	padding:20px;
	background-color:#fff;
	text-align:center;
	
}
#dev:hover
{
	display:block;
	text-decoration:none;
	font-family:'Quicksand';
	color:#fff;
	background-color:#000;
	border:2px solid #000;
	border-radius:20px;
	padding:20px;
	text-align:center;
	
}
